<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="testSection" type="Dunk.Tools.Configuration.Test.ConfigStubs.TestConfigSection, Dunk.Tools.Configuration.Test"/>
  </configSections>

  <testSection global="true">
    <testElement size="13" />
  </testSection>
</configuration>