<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="testSection" type="Dunk.Tools.Configuration.Test.ConfigStubs.TestConfigSectionCollection, Dunk.Tools.Configuration.Test"/>
  </configSections>

  <testSection global="true">
    <testElement size="13" />
    <urls>
      <url name="url1" url="http://www.testurl1.com" port="4041" />
      <url name="url2" url="http://www.testurl2.com" port="4042" />
      <url name="url3" url="http://www.testurl3.com" port="4043" />
      <url name="url4" url="http://www.testurl4.com" port="4044" />
    </urls>
  </testSection>
</configuration>