<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TestKey" value="TestValue"/>
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="TestConnection" connectionString="Data Source=TestServerAddress;Initial Catalog=TestDataBase; Integrated Security=SSPI"/>
  </connectionStrings>
</configuration>