<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="short value" value="123"/>
    <add key ="int value" value="123"/>
    <add key="long value" value="4294967296"/>
    <add key="double value" value="123.4"/>
    <add key="float value" value="123.4"/>
    <add key="boolean value" value="true"/>
  </appSettings>
</configuration>